.venv/
.venv/**
.git/
.git/**
.github/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
.env
**/__pycache__/
**/*.pyc
backend/staticfiles/
backend/ssl/
backend/sql/
docs/
scripts/
*.md
LICENSE
docker/Dockerfile-mysql
docker/docker-compose.yml
